@font-face {
    font-family: myriadpro;
    src: url('MYRIADPRO-REGULAR.OTF');
}

body {
    font-family: myriadpro;
    align-content: center;
    text-align: center;
}

header {
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.section {
    text-align: left;
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.section p {
    font-size: large;
}